<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>
<h2>Products</h2>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %></li>
  <% end %>
</ul>

<hr>

<br>
  <%= button_to "Save products to database", '/products/save_to_database' %>
<br>
  <%= button_to "Save test product to database", '/products/save_one_to_database' %>
<br>
<%= button_to "Save five to database", '/products/save_five_to_database' %>
<br>

<h2>Create New Product</h2>
<%= form_with url: '/products/new' do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :product_type %>
  <%= f.text_field :product_type %>
  <br>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br>
  <%= f.label :sizes %>
  <%= f.text_field :sizes, placeholder: "S, M, L" %>
  <br>
  <%= f.label :colors %>
  <%= f.text_field :colors, placeholder: "Blue, Black, Brown" %>
  <br>
  <%= f.submit "Create" %>
<% end %>

<hr>

<h2>Products from Rails</h2>

<ul>
  <% @products_from_rails.each do |product| %>
    <li><%= product.title %></li>
  <% end %>
</ul>

<br>
<br>
<br>
<!-- <p><%= (Shopify.products())["products"].first %></p><br><br>
<p><%= (Shopify.products())["products"] %></p><br><br>
<p><%= Shopify.products() %></p>
<br><br><br><br><br> -->
<p><%= ShopifyAPI::Product.all(:params => {:limit => 1}) %></p><br><br>
<p><%= ShopifyAPI::Product.all(:params => {:limit => 1}).first %></p>
<p><%= ShopifyAPI::Product.all(:params => {:limit => 1}).first.title %></p>

<!-- <h2>Webhooks</h2>

<% if @webhooks.present? %>
  <ul>
    <% @webhooks.each do |webhook| %>
      <li><%= webhook.topic %> : <%= webhook.address %></li>
    <% end %>
  </ul>
<% else %>
  <p>This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>
<% end %> -->
