<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>

<!-- <div class="row centered">
  <h2>Create a New Product</h2>
  <%= form_with url: '/products/new' do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :product_type %>
    <%= f.text_field :product_type %>
    <br>
    <%= f.label :price %>
    <%= f.text_field :price %>
    <br>
    <%= f.label :sizes %>
    <%= f.text_field :sizes, placeholder: "S, M, L" %>
    <br>
    <%= f.label :colors %>
    <%= f.text_field :colors, placeholder: "Blue, Black, Brown" %>
    <br>
    <%= f.submit "Create" %>
  <% end %>
</div> -->

<div class="row centered">
  <h2>Create a New Product</h2>
  <table>
    <%= form_with url: '/products/new' do |f| %>
      <tr>
        <td><%= f.label :title %></td>
        <td><%= f.text_field :title %></td>
      </tr>
      <tr>
        <td><%= f.label :product_type %></td>
        <td><%= f.text_field :product_type %></td>
      </tr>
      <tr>
        <td><%= f.label :price %></td>
        <td><%= f.text_field :price %></td>
      </tr>
      <tr>
        <td><%= f.label :sizes %></td>
        <td><%= f.text_field :sizes, placeholder: "S, M, L" %></td>
      </tr>
      <tr>
        <td><%= f.label :colors %></td>
        <td><%= f.text_field :colors, placeholder: "Blue, Black, Brown" %></td>
      </tr>
      <tr>
        <td><%= f.submit "Create" %></td>
      </tr>
    <% end %>
  </table>
</div>

<br><br>
<hr>
<br><br>

<div class="row">
  <div class="column left centered">
    <%= button_to "Save all products to database", '/products/save_to_database' %>
  </div>

  <div class="column right centered">
    <%= button_to "Delete all products from database", '/products/destroy_all_from_database' %>
  </div>
</div>

<br><br>
<hr>
<br><br>

<div class="row">
  <div class="column left">
    <h2>Products from shopify</h2>
    <ul>
      <% @products.each do |product| %>
        <li><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %></li>
      <% end %>
    </ul>
  </div>

  <div class="column right">
    <h2>Products from rails</h2>
    <ol>
      <% @products_from_rails.each do |product| %>
        <li><%= product.title %></li>
        <ul>
          <% product.variants.each do |variant| %>
            <li><%= variant.title %></li>
          <% end %>
        </ul>
      <% end %>
    </ol>
  </div>
</div>
