<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>
<h2>Products</h2>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %></li>
  <% end %>
</ul>

<hr>
<%= link_to 'Generate all products', '/products/generateall', :method => :post %>
<br>
<%= button_to 'Generate all products', '/products/generateall' %>
<br>
<%= button_to 'Delete all products', '/products/deleteall' %>
<br>
<h2>Create New Product</h2>
<%= form_with url: '/products/new' do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :product_type %>
  <%= f.text_field :product_type %>
  <br>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br>
  <%= f.label :sizes %>
  <%= f.text_field :sizes, placeholder: "S, M, L" %>
  <br>
  <%= f.label :colors %>
  <%= f.text_field :colors, placeholder: "Blue, Black, Brown" %>
  <br>
  <%= f.submit "Create" %>
<% end %>

<!-- <h2>Webhooks</h2>

<% if @webhooks.present? %>
  <ul>
    <% @webhooks.each do |webhook| %>
      <li><%= webhook.topic %> : <%= webhook.address %></li>
    <% end %>
  </ul>
<% else %>
  <p>This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>
<% end %> -->
